.ap__common__para.np__common__para{
  background:#FFF;
  padding: 3rem;
  position: relative;
  width: auto;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ap__common__para.np__common__para .Goal-1{
  background:#79b62b;
  width: 100%;
  text-align: center;
  color: #FFF;
  margin-bottom: 1rem;
  font-size: 30px;
  padding:1rem;
  font-weight: 600;
}

/*

====== Zoom effect ======

*/
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}



.mfp-with-fade .mfp-content, .mfp-with-fade.mfp-bg {
  opacity: 0;
  transition: opacity .5s ease-out;
}
.mfp-with-fade.mfp-ready .mfp-content {
  opacity: 1;
}
.mfp-with-fade.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-fade.mfp-removing.mfp-bg {
  opacity: 0;
}



.np-bannerSec__bg{
  background:url("../images/np-img/green-leavesBg.jpg") center center/cover no-repeat;

}
.np-bannerSec__bg.np-bannerSec__bg--height{
  transition: background 0.3s,border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top:-0.3125rem;
  margin-bottom:0rem;
  padding:200px 0px 120px 0px;
}
.np-bannerSec__bg--overlay{
  height:100%;
  width:100%;
  top:0;
  left:0;
  position: absolute;
  background:#000;
  opacity: 0.6;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.ap__common__heading.np-sec__title{
  color:#fff;
}

.np-contentSec{
  transition:background 0.3s,border 0.3s,border-radius 0.3s,box-shadow 0.3s;
	padding:7.5rem 0rem 3.75rem 0rem;

}
.np-contentSec--lftWrp{
  padding:0rem 2.5rem 0rem 0rem;

}

.mar--b{
  margin-bottom: 1.25rem !important;
}
.ap__common__heading.np-small__heading{
  font-size:1.625rem;
}
.np-disc{
  margin:0px 0px 10px 0px;
	padding:0px 20px 0px 0px;

}
.org{
  width:1.25em;
  color: #FF6F00;
  font-size: 1rem;
  font-weight:900;
}
.gry{
  color: #6F747E;
  padding-left:.3125rem;

}
.paa-b{
  padding-bottom:calc(10px /2);
}
.mar-t{
  margin-top:calc(10px/2);

}
.np-contentSec--innerLftWrp{
  margin:0rem .9375rem 0rem 0rem;
  padding:0px 0px 40px 0px;
}
.np-contentSec--innerRgtWrp{
  margin:0rem 0rem 0rem .9375rem;

}
.np-contentSec--rgtWrp{
  margin:0rem 0rem 0rem 1.25rem;

}

.np-contentSec--rgt__contaner{
  border-radius:.3125rem .3125rem .3125rem .3125rem;
  box-shadow: 0rem .1875rem .625rem 0rem rgb(0 0 0 / 10%);
}
.np-form{
  background-color: #FFFFFF;
  padding:4.375rem 3.125rem 4.375rem 3.125rem;
	border-radius:.625rem .625rem .625rem .625rem;
}

.np-formSec__content{
  max-width:1150px;
}
.np-formSec__Wrp{
  padding:0px 0px 0px 0px;
}
.np--form__flname{
  margin-top:0px;
	margin-bottom:0px;
	padding:0px 0px 30px 0px;

}
.np--form__flnameWrp{
  max-width:1140px;
}
.np--form__fnameWrp{
  margin:0rem .625rem 0rem 0rem;
	padding:0rem 0rem 0rem 0rem;

}
.np--form__lnameWrp{
  margin:0px 0px 0px 10px;
	padding:0px 0px 0px 0px;

}
.np--form__fnameInp{
  border-style:solid;
	border-width:1px 1px 1px 1px;
  border-color: #EBEBEB;
  background-color: #FFFFFF;
  color:#646464;
  padding: .9375rem 0rem .9375rem 1.25rem;
	border-radius: .625rem;
  font-size: 1rem;
  font-weight: 400;
  resize: none;
}
/* input::-webkit-input-placeholder{
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
}
textarea::-webkit-input-placeholder{
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
} */
.np--form__fnameInp::-webkit-input-placeholder{
  opacity: .8;
  font-family: 'Lato', sans-serif !important;
  font-size: 16px !important;
}
.np--form__Mail{
  margin-bottom:20px;

}
.np--form__btn{
  margin:1.875rem 0rem 0rem 0rem;
}

.np--formBtn--b{
  padding:1.25rem 2.5rem 1.25rem 2.5rem;
  font-size: .875rem;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #FFFFFF;
  background-color: #79b62b;
  border-style: none;
  border-radius:10px 10px 10px 10px;
	box-shadow:0px 0px 0px 0px rgb(0 0 0 / 50%);

}

.np-contentSec--lft .ap__footIco img {
	width:20px;
	display:inline-block;
	margin-right:.625rem;
	height:20px;
}

.np-gallarySec{
  padding:7.5rem 0rem 6.25rem 0rem;

}
.np-gallary__heading{
  padding-bottom:20px;
  font-size: 3rem;
}
.np__title{
  max-width: 37.5rem;
}
.np-gallary__disc{
  margin-top:0px;
	margin-bottom:40px;
	padding:0px 0px 0px 0px;
  font-family:1rem;
}
.np-gallary__tabList{
  margin:0 0 20px 0;
	padding:0;
	text-align:center;

}
.np-gallary__tabList li{
  padding:10px 16px 10px 16px;
	margin:0px 5px 0px 5px;

}
.np-gallary__tabList li.current{
  border-radius: 10px;
  background:#003350;
}
.np-gallary__tabList li a{
  font-size: 1rem;
  font-weight:400;
  color: #000;
}
.np-gallary__tabList li a.current{
  color: #79b62b;
}
.np-gallary__tabContant--list li{
  width: calc(95% / 3) !important;
  display: inline-block;
  padding:0px 0px 0px 0px;
	margin:0px 0px 10px 10px;
	border-radius:10px 10px 10px 10px;

}
.np-gallary__tabContant--list li .image-popupContent img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.np-gallary__tabContant--list li a{
  position: relative;
  width: 100%;
  float: left;
  height:300px;
}
.np-gallary__tabContant--list li a::before {
  content: '';
  background:#79b62b;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
  opacity: 0;
  transition: 500ms;
}

.np-gallary__tabContant--list li a:hover::before{
opacity: .5;
}

.np-gallary__tabContant{
  display: none;
}
.np-gallary__tabContant.current{
  display:inline-block;
}

.image-popupContent{
  width: 100%;
  float: left;
  height:300px;
	overflow:hidden;
	line-height:0;

}
.np__title--1{
  max-width: 43.75rem;
}
.np-partner__slid{
  overflow: hidden;
}
.np-partner__slid li{
  padding: 2.5rem 3.75rem;
  position: relative;
  display: inline-block;
}
.np-partner__slid li .ap__goalWrp img{max-width: 100%;}


.np-partner__slid li .ap__goalWrp{border-radius: 10px;overflow: hidden; width: 100%;}


/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }
  .mfp-preloader a {
    color: #CCC; }
    .mfp-preloader a:hover {
      color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }
  .mfp-close:hover,
  .mfp-close:focus {
    opacity: 1; }
  .mfp-close:active {
    top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }
  .mfp-arrow:active {
    margin-top: -54px; }
  .mfp-arrow:hover,
  .mfp-arrow:focus {
    opacity: 1; }
  .mfp-arrow:before,
  .mfp-arrow:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: medium inset transparent; }
  .mfp-arrow:after {
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px; }
  .mfp-arrow:before {
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }
  .mfp-arrow-left:after {
    border-right: 17px solid #FFF;
    margin-left: 31px; }
  .mfp-arrow-left:before {
    margin-left: 25px;
    border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }
  .mfp-arrow-right:after {
    border-left: 17px solid #FFF;
    margin-left: 39px; }
  .mfp-arrow-right:before {
    border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }
  .mfp-iframe-holder .mfp-content {
    line-height: 0;
    width: 100%;
    max-width: 900px; }
  .mfp-iframe-holder .mfp-close {
    top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }
  .mfp-iframe-scaler iframe {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #000; }

    .np-partner__slid ul li{
      width: 100%;
    }
    .np-partner__slid ul li img{
      max-width:100%;

    }



/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }
  .mfp-figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444; }
  .mfp-figure small {
    color: #BDBDBD;
    display: block;
    font-size: 12px;
    line-height: 14px; }
  .mfp-figure figure {
    margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }



.image-popupDisc{
  background:#003350;
  padding:25px;
	border-bottom-right-radius:10px;
	border-bottom-left-radius:10px;
  color: #fff;
  margin-top: -6px;
}



.np-gallary__tabContant--list li .image-vContentImg img{
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-right-radius:10px;
	border-top-left-radius:10px;
}
.np-gallary__tabContant--list li .image-vContentImg:hover::before {

  opacity: .3;
  height:100%;
  visibility: visible;
}
.np-gallary__tabContant--list li .image-vContentImg::before{
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  border-top-right-radius:10px;
	border-top-left-radius:10px;
  background-color: rgba(0,0,0,.7);
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  visibility: hidden;
}

.vTitle{
  color: #79b62b;
  font-size: 24px;
  margin-bottom: 5px;
  font-weight: 600;
}
.np__socialDiv{
  display: flex;
  justify-content: center;
  top: 40%;
  content: '';
  left: 0;
  -moz-transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  -ms-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  opacity: 0;
  visibility: hidden;
}
.np__socialDiv a{
  opacity: 1;
}
.np__socialDiv a::before{
  background: none !important;
}
.np__socialDiv a:hover{
  opacity: 1 !important;
}
.np-gallary__tabContant--list li .image-vContentImg:hover .np__socialDiv{
  opacity: 1;
  visibility: visible;
  top: 40%;
}

.np__socialDiv a{
  width:42px !important;
  height:42px !important;
}
.contact__mapWrp img{
  width:100%;
  height:100%;
}
.np-contentSec--innerLft img{
max-width: 100%;
height: 450px;
}
.fa-angle-double-right{
  padding-right: 10px;
  color: #79b62b;
}
.np-contentSec--lftWrp .np-vimg{
  width: 100%;
}
@media screen and (max-width:1024px){
  .np-gallary__tabContant--list li a{
    height:250px;
  }
  .image-popupContent{
    height:250px;
  }
  .np-contentSec--Inner{
    flex-wrap: wrap;
  }
  .np-contentSec--inner{
    flex-wrap: wrap;
  }

  .np-contentSec--innerRgtWrp{
    margin:0;
  }
  .np-contentSec--rgtWrp{
    margin:40px 0px 0px 0px;
  }
  .np-contentSec{
    padding:3.75rem .625rem 2.5rem .625rem;
  }
}
@media screen and (max-width:900px){
  .np-contentSec--lftWrp img{
    width: 100%;
    height: 100%;
  }
  .np-gallary__tabContant--list li{
    margin:0px 0px 10px 5px;

  }
  .np-vwrp{
    width: 100%;
  }
}

@media screen and (max-width:550px){
  .ap__common__para.np__common__para .Goal-1{
    font-size: 1.25rem;
  }
  .np-contentSec--lftWrp{
    padding:0;
  }
  .np-gallary__tabContant--list li a{
    height:150px;
  }
  .image-popupContent{
    height:150px;
  }
  .np-gallary__tabContant--list li{
    width:calc(100% / 1) !important;
    margin-left: 0;
  }
  .np-contentSec{
    padding:40px 10px 80px 10px;
  }

  .np--form__fnameCont{
    width:100%;
  }
  .np--form__lnameWrp{
    padding:0;
    margin:0;
  }
  .np--form__fnameWrp{
    padding:0;
    margin:0;
  }

  .np--form__flname{
    padding:0;
    /* margin-bottom: 20px; */
  }
  .np--form__fname{
    margin-bottom: 20px;
  }
  .np-form{
    padding:2.375rem 2.125rem 2.375rem 2.125rem;

  }
  .np--form__fname{
    width: 100%;
    float: left;
  }
}
@media screen and (max-width:400px){
  .np-gallary__tabContant--list li{
    width:calc(100% / 1) !important;
  }
}